__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
cache/
.venv/
venv/
config.json
log/
.vscode/
*.spec
*.ffs_db
pyi-archive_viewer
*.png
# 生成的文件
files/
files_*/
test_*/
test/
# 保留脚本本身
!gen_test_files.py
!icon.png
